* {
	margin: 0;
	padding: 0;
}

html { 
 	background: url(../img/bg.jpg) no-repeat center center fixed; 
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 15px/1.5 "Open Sans", Arial, Helvetica, sans-serif;
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 32px;
}

#team-overview .team-box {
	display: inline-block;
	width: 25%;
	float: left;
	text-align: center;
	background-color: transparent;
	color: #f4f4f4;
}

#team-overview h2 {
	margin-bottom: 5px;
}

#roll-screen {
	font-size: 24px;
	clear: both;
	text-align: center;
	margin: 0;
}

#roll-screen h1 {
	color: white;
	text-align: center;
}

#roll-screen .rollbox {
	display: inline-block;
	width: 30%;
	text-align: center;
	color: white;
}

#roll-screen .button {
	padding: 20px;
	font-size: 20px;
	border: none;
	background-color: white;
	margin-bottom: 20px;
	transition: 0.3s;
}

#roll-screen .button:hover {
	border: none;
	background-color: #00FF18;
	transition: 0.3s;
	cursor: pointer;
}

#next-turn {
	text-align: center;
	padding: 10px;
}

#next-turnbutton {
	opacity: 100%;
	transition: 0.2s;
}

footer {
	position: relative;
	margin-top: -32px;
	height: 32px;
	clear: both;
}

#github {
	float: right;
}