/* Global Variables*/

* {
	margin: 0;
	padding: 0;
}

html { 
 	background: url(../img/bg.jpg) no-repeat center center fixed; 
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 15px/1.5 "Open Sans", Arial, Helvetica, sans-serif;
	height: 100%;
}

.container {
	min-height: 100%;
}

/* Group Create Form */

#group-create {
	overflow: auto;
	padding-bottom: 32px;
}

.title {
	color: white;
	text-align: center;
	padding: 0;
	margin: 0 0 5px 0;
}

#inputs {
	text-align: center;
}

.form-column {
	margin: 0;
	padding: 0;
	display: inline-block;
	clear: both;
}

#group-create .text-input {
	display: block;
	padding: 10px;
	margin: 2px;
	border: none;
}

#group-create #submit-button {
	text-align: center;
}

#group-create #submit-button #play-button {
	padding: 10px;
	margin: 0;
	background-color: white;
	border: none;
	transition: 0.3s;
}

#group-create #submit-button #play-button:hover {
	background-color: #00FF36;
	border: none;
	transition: 0.3s;
}

footer {
	position: relative;
	margin-top: -32px;
	height: 32px;
	clear: both;
}

#github {
	float: right;
}